.container{
    width:90%;
margin: 0 auto;
}
.wrapper{
    margin: 32px auto;
    width: 100%;
    display: flex;
    justify-content: center;

    gap: 4px;
}
.cell{
    width:32px;
    text-align: center;
    /* height: 18px; */
    background-color: rgb(214, 245, 101);
}

.canv{
    width: 100%;
    background-color: rgb(205, 216, 240);
}

.button{
    width: 100px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border: 2px solid blue;
    cursor:pointer;
}

.indicator{
    margin: 5px 24px;
    width: 18px;
    height: 18px;
    background-color: #0000ff;
    border-radius: 50%;
}